body{
  box-sizing: border-box;
  margin: 0;
  padding: 10px 40px;
  background-color: #F5F6FA;
}

.App{
  background-color: #F5F6FA;
}

.main-title{
  color:#8A5EA9;
  font-weight: 400;
}

.secondary-title{
  color:#8A5EA9;
  font-weight: 400;
}

.selects-container{
  display: flex;
  justify-content: space-between;
  margin:20px 0;
}


.api-error-message{
  color: rgba(255, 0, 0, 0.794);
  background-color: rgba(0, 200, 255, 0.154);
  font-weight: 600;
  font-size: 2rem;
  padding: 5px;
  width: fit-content;
  margin: auto;
}

.chart-data-and-labels-conatiner{
  display: flex;
  justify-content: start;
}
