body{
  box-sizing: border-box;
  margin: 0;
  padding: 10px 40px;
  background-color: #F5F6FA;
}

.App{
  background-color: #F5F6FA;
}

.main-title{
  color:#8A5EA9;
  font-weight: 400;
}

.secondary-title{
  color:#8A5EA9;
  font-weight: 400;
}

.selects-container{
  display: flex;
  justify-content: space-between;
  margin:20px 0;
}

